:root {
    --couleur-primaire : #07357d;
}

body {
background : tan;
margin : 10px;
padding : 10px;

}

.couleur {
color : red;
}

.grave {
text-align : center;
color : yellow;
font-style : italic;
}
.style {
text-decoration : undeline-dotted;

}


